<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.m_abdullah.smdproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".feee_paying"></activity>
        <activity android:name=".Update_Customer_Details" />
        <activity android:name=".Edit_Search" />
        <activity android:name=".adapter_show_customer" />
        <activity android:name=".Show_Customer" />
        <activity android:name=".attendance_customer" />
        <activity android:name=".testing" />
        <activity android:name=".allcustomers" />
        <activity android:name=".addedSucessfuly" />
        <activity android:name=".logout" />
        <activity android:name=".updatecustomer" />
        <activity android:name=".customersearch" />
        <activity android:name=".newsupdate" />
        <activity android:name=".editcustomer" />
        <activity android:name=".viewcustomer" />
        <activity android:name=".addcustomer" />
        <activity android:name=".attendance" />
        <activity android:name=".dashboard" />
        <activity android:name=".login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>